# Practise

### Dataset for practise

In [ ]:
import pandas as pd
import numpy as np
np.random.seed(123)
num1 = np.random.randn(500)
num2 = np.random.uniform(10, 50, size=500)
num3 = np.random.randint(1, 6, size=500).astype('float')
num1[np.random.choice(500, 60, replace=False)] = np.nan
num2[np.random.choice(500, 60, replace=False)] = np.nan
num3[np.random.choice(500, 60, replace=False)] = np.nan
cat1 = np.random.choice(['apple', 'banana', 'grape', np.nan], size=500, p=[0.3, 0.3, 0.3, 0.1])
cat2 = np.random.choice(['A', 'B', 'C', 'D'], size=500)
cat3 = np.random.choice(['Yes', 'No', np.nan], size=500, p=[0.45, 0.45, 0.10])
df_untidy = pd.DataFrame({
    'Score': num1,
    'Height_cm': num2,
    'Rating': num3,
    'Fruit': cat1,
    'Group': cat2,
    'IsActive': cat3
})
df_untidy.loc[df_untidy.sample(frac=0.15, random_state=1).index, 'Height_cm'] = \
    df_untidy['Height_cm'].dropna().astype(str) + 'cm'   # Mix data type in Height_cm

df_untidy.loc[df_untidy.sample(frac=0.15, random_state=2).index, 'Rating'] = \
    'Rating: ' + df_untidy['Rating'].dropna().astype(str) # Prefix string for some ratings

df_untidy.head()

C:\Users\monik\AppData\Local\Temp\ipykernel_16912\3058238868.py:30: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['31.40565600060867cm' '23.723443878559706cm' '48.6944754257072cm'
 '47.7445897977863cm' '12.199264419087633cm' '28.255294989080216cm'
 '49.46319556401813cm' '24.62082473109778cm' '14.069842039264948cm'
 '30.047591231707173cm' '39.596908878071915cm' '47.903273405497885cm'
 '18.383678364591226cm' '20.573119172482315cm' '26.918929348570554cm'
 '49.60956000856316cm' '42.872544601068384cm' '47.28354972175643cm' nan
 nan '36.95711914375434cm' nan '25.124837252276944cm'
 '41.69467488795425cm' '28.67398840853555cm' '31.546329651552767cm'
 '14.629781437963878cm' '10.509502547356245cm' '18.213990989134608cm'
 '24.690622519316705cm' '23.881006122675878cm' '16.30134384410546cm' nan
 '29.66207244015815cm' nan '45.91010976816148cm' nan
 '31.599083317303908cm' '25.60501244185592cm' '43.06120649429532cm' nan
 '12.847775069640711cm' '12.664116985961948cm' '47.658679896221cm'
 '33.2449203552472cm' '39.08764020242252cm' '28.33330050691903cm'
 '22.962576174780793cm' '27.894375469792145cm' '32.038131009330215cm'
 '14.575393291450958cm' nan nan '11.712756967808463cm' nan
 '43.763098510017656cm' nan '30.811616852539903cm' '37.395658619063596cm'
 '28.1338454756111cm' '27.96849795184873cm' '10.60064593668383cm'
 '24.62269124743047cm' nan '35.59967475048515cm' '10.62981749252967cm'
 '29.56236762958236cm' '24.02157279243951cm' '20.724977212451382cm'
 '45.97566419756147cm' '39.53174948578872cm' '40.18091625619654cm'
 '31.792529976304664cm' '45.01839317252149cm' '38.4030089783188cm']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_untidy.loc[df_untidy.sample(frac=0.15, random_state=1).index, 'Height_cm'] = \
C:\Users\monik\AppData\Local\Temp\ipykernel_16912\3058238868.py:33: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '['Rating: 3.0' 'Rating: 5.0' 'Rating: 2.0' 'Rating: 3.0' 'Rating: 1.0' nan
 'Rating: 5.0' 'Rating: 3.0' 'Rating: 2.0' 'Rating: 2.0' 'Rating: 4.0'
 'Rating: 3.0' 'Rating: 1.0' 'Rating: 3.0' nan 'Rating: 1.0' 'Rating: 1.0'
 'Rating: 2.0' 'Rating: 2.0' 'Rating: 4.0' 'Rating: 5.0' 'Rating: 4.0'
 'Rating: 4.0' 'Rating: 4.0' 'Rating: 3.0' 'Rating: 5.0' 'Rating: 2.0' nan
 'Rating: 3.0' 'Rating: 2.0' 'Rating: 3.0' 'Rating: 4.0' nan 'Rating: 4.0'
 'Rating: 1.0' 'Rating: 5.0' nan 'Rating: 3.0' 'Rating: 3.0' 'Rating: 3.0'
 'Rating: 4.0' 'Rating: 2.0' 'Rating: 1.0' 'Rating: 4.0' nan 'Rating: 5.0'
 'Rating: 4.0' 'Rating: 1.0' 'Rating: 4.0' 'Rating: 3.0' 'Rating: 2.0'
 'Rating: 5.0' 'Rating: 3.0' 'Rating: 3.0' 'Rating: 2.0' 'Rating: 3.0' nan
 'Rating: 1.0' 'Rating: 5.0' 'Rating: 2.0' 'Rating: 1.0' 'Rating: 2.0' nan
 'Rating: 4.0' 'Rating: 4.0' 'Rating: 1.0' 'Rating: 1.0' 'Rating: 4.0'
 'Rating: 3.0' 'Rating: 5.0' 'Rating: 1.0' nan nan nan 'Rating: 5.0']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_untidy.loc[df_untidy.sample(frac=0.15, random_state=2).index, 'Rating'] = \

      Score             Height_cm       Rating   Fruit Group IsActive
0 -1.085631                   NaN          2.0  banana     D      Yes
1  0.997345             16.480034  Rating: 5.0   apple     A       No
2  0.282978             49.244711          NaN  banana     B       No
3 -1.506295                   NaN          3.0   grape     D      nan
4 -0.578600  31.599083317303908cm          NaN  banana     C       No

- Q1. Identify columns with missing values and demonstrate at least two methods for imputing or filling these missing values (e.g., mean for numerics, mode for categoricals).

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/springboardmentor943x/ImpactSense-Intern-project/refs/heads/main/Milestone_1/Week_2/Day_8/Assignment_2.ipynb"
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
print("Missing values per column:\n", df.isnull().sum())
df_mean_imputed = df.fillna(df.mean(numeric_only=True))
for col in df.select_dtypes(include=['object']).columns:
    df_mean_imputed[col] = df_mean_imputed[col].fillna(df[col].mode()[0])
print("\nAfter imputation (mean + mode):\n", df_mean_imputed.isnull().sum())

Missing values per column:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

After imputation (mean + mode):
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

- Q2.  Identify columns with non-numeric (categorical) data and convert them into a numeric format using encoding techniques such as one-hot encoding or label encoding.

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
categorical_cols = df.select_dtypes(include=['object']).columns
print("Categorical columns:", categorical_cols.tolist())
label_encoder = LabelEncoder()
df_label_encoded = df.copy()
for col in categorical_cols:
    df_label_encoded[col] = label_encoder.fit_transform(df[col].astype(str))

print("\nAfter Label Encoding:\n", df_label_encoded.head())
df_onehot_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

print("\nAfter One-Hot Encoding:\n", df_onehot_encoded.head())

Categorical columns: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

After Label Encoding:
    PassengerId  Survived  Pclass  Name  Sex   Age  SibSp  Parch  Ticket  \
0            1         0       3   108    1  22.0      1      0     523
1            2         1       1   190    0  38.0      1      0     596
2            3         1       3   353    0  26.0      0      0     669
3            4         1       1   272    0  35.0      1      0      49
4            5         0       3    15    1  35.0      0      0     472

      Fare  Cabin  Embarked
0   7.2500    147         2
1  71.2833     81         0
2   7.9250    147         2
3  53.1000     55         2
4   8.0500    147         2

After One-Hot Encoding:
    PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  \
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

   Name_Abbott, Mr. Rossmore Edward  Name_Abbott, Mrs. Stanton (Rosa Hunt)  \
0                             False                                  False
1                             False                                  False
2                             False                                  False
3                             False                                  False
4                             False                                  False

   Name_Abelson, Mr. Samuel  ...  Cabin_F G63  Cabin_F G73  Cabin_F2  \
0                     False  ...        False        False     False
1                     False  ...        False        False     False
2                     False  ...        False        False     False
3                     False  ...        False        False     False
4                     False  ...        False        False     False

   Cabin_F33  Cabin_F38  Cabin_F4  Cabin_G6  Cabin_T  Embarked_Q  Embarked_S
0      False      False     False     False    False       False        True
1      False      False     False     False    False       False       False
2      False      False     False     False    False       False        True
3      False      False     False     False    False       False        True
4      False      False     False     False    False       False        True

[5 rows x 1726 columns]

- Q3. Detect any columns in the DataFrame that contain mixed data types (such as numbers stored as strings or strings with prefixes). Write code to clean and convert these columns to appropriate, consistent types.

In [ ]:
import pandas as pd

df = pd.DataFrame({
    "Age": ["25", "30", "40", "35 years", None],
    "Fare": ["100.5", "200.0", "150", "not available", "175.25"],
    "Gender": ["Male", "Female", "Male", "Female", "Male"]
})

print("Original DataFrame:\n", df)
mixed_cols = [col for col in df.columns if df[col].apply(type).nunique() > 1]
print("\nColumns with mixed data types:", mixed_cols)

df["Age"] = df["Age"].str.extract(r'(\d+)')  
df["Age"] = pd.to_numeric(df["Age"], errors="coerce")

df["Fare"] = pd.to_numeric(df["Fare"], errors="coerce")

print("\nCleaned DataFrame:\n", df.dtypes)
print(df.head())

Original DataFrame:
         Age           Fare  Gender
0        25          100.5    Male
1        30          200.0  Female
2        40            150    Male
3  35 years  not available  Female
4      None         175.25    Male

Columns with mixed data types: ['Age']

Cleaned DataFrame:
 Age       float64
Fare      float64
Gender     object
dtype: object
    Age    Fare  Gender
0  25.0  100.50    Male
1  30.0  200.00  Female
2  40.0  150.00    Male
3  35.0     NaN  Female
4   NaN  175.25    Male

- Q4. Apply scaling and/or normalization techniques (such as Min-Max Scaling and Standardization) to the numerical columns to prepare them for downstream machine learning tasks.

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

df = pd.DataFrame({
    "Age": [22, 38, 26, 35, 28],
    "Fare": [7.25, 71.83, 7.92, 53.10, 8.05],
    "Pclass": [3, 1, 3, 1, 3]
})

print("Original DataFrame:\n", df)

numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
print("\nNumeric columns:", numeric_cols.tolist())

minmax_scaler = MinMaxScaler()
df_minmax = df.copy()
df_minmax[numeric_cols] = minmax_scaler.fit_transform(df[numeric_cols])

print("\nAfter Min-Max Scaling:\n", df_minmax)

standard_scaler = StandardScaler()
df_standard = df.copy()
df_standard[numeric_cols] = standard_scaler.fit_transform(df[numeric_cols])

print("\nAfter Standardization:\n", df_standard)

Original DataFrame:
    Age   Fare  Pclass
0   22   7.25       3
1   38  71.83       1
2   26   7.92       3
3   35  53.10       1
4   28   8.05       3

Numeric columns: ['Age', 'Fare', 'Pclass']

After Min-Max Scaling:
       Age      Fare  Pclass
0  0.0000  0.000000     1.0
1  1.0000  1.000000     0.0
2  0.2500  0.010375     1.0
3  0.8125  0.709972     0.0
4  0.3750  0.012388     1.0

After Standardization:
         Age      Fare    Pclass
0 -1.326807 -0.815078  0.816497
1  1.394848  1.536922 -1.224745
2 -0.646393 -0.790677  0.816497
3  0.884538  0.854776 -1.224745
4 -0.306186 -0.785943  0.816497

- Q5. Write a function to check for and report any remaining inconsistencies (missing values, mixed types, out-of-range values) in the cleaned DataFrame. Validate that the preprocessing steps have successfully prepared the data for analysis.

In [ ]:
import pandas as pd

def validate_dataframe(df):
    report = {}

    missing = df.isnull().sum()
    report['missing_values'] = missing[missing > 0].to_dict()

    mixed_types = [col for col in df.columns if df[col].apply(type).nunique() > 1]
    report['mixed_type_columns'] = mixed_types

    out_of_range = {}
    if "Age" in df.columns:
        out_of_range['Age'] = df[(df['Age'] < 0) | (df['Age'] > 120)].shape[0] 
    if "Fare" in df.columns:
        out_of_range['Fare'] = df[df['Fare'] < 0].shape[0]  
    if "Pclass" in df.columns:
        out_of_range['Pclass'] = df[~df['Pclass'].isin([1,2,3])].shape[0]  

    report['out_of_range'] = {k: v for k, v in out_of_range.items() if v > 0}

    
    if not report['missing_values'] and not report['mixed_type_columns'] and not report['out_of_range']:
        print("✅ DataFrame is clean and ready for analysis.")
    else:
        print("⚠️ Issues found in DataFrame:")
        print(report)

    return report

df = pd.DataFrame({
    "Age": [22, 38, None, -5, 200],    
    "Fare": [7.25, 71.83, -10, 53.10, 8.05],  
    "Pclass": [3, 1, 4, 2, 3],         
    "Name": ["John", "Alice", 123, "Bob", "Charlie"]  
})

validate_dataframe(df)

⚠️ Issues found in DataFrame:
{'missing_values': {'Age': 1}, 'mixed_type_columns': ['Name'], 'out_of_range': {'Age': 2, 'Fare': 1, 'Pclass': 1}}

{'missing_values': {'Age': 1},
 'mixed_type_columns': ['Name'],
 'out_of_range': {'Age': 2, 'Fare': 1, 'Pclass': 1}}